@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

*{
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: dodgerblue;
}

button{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}